*{
    margin: 0;
    padding: 2;
    box-sizing: border-box;
    font-family: lato, arial;
}
.header{
    padding-top: 2%;
}
.navbar{
    color:#fff;
}
.navbar, .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.menu a{
    text-decoration: none;
    margin: 4%;
    padding: 0 30%;
}
.logo{
    padding-right: 40%;
}
.headline{
    letter-spacing: 1.4px;
    border-bottom :1px solid #fff;
    width: fit-content;
    color: #fff;
    font-weight: 700;
    line-height: 1.15;
    text-transform: uppercase;
    font-size: 28px;
    padding-bottom: 3px;
    margin : 5% 0 0 5%;
}
.headline em{
    color: #ffcb4a;
    font-style: italic;
    text-transform:lowercase;
    font-size: 36px;
}
.get-who-gets-you{
    width: 50vh;
    margin : 5% 0 0 5%;
}
.header-text-1{
    margin: 2% 0;
  }